<h1>About Us</h1>
<table>
    <tbody>
<td align="center" style="font-size:25px;" 0="" 15px;="">
    Ryan Tapp
</td>
<td align="center" style="font-size:25px">
    Markus Bruusgaard
</td>
</tr>
<tr>
    <td id="ryanCell" align="center">
        <img src="./images/ryan.png">
    </td>
    <td id="markusCell" align="center">
        <img src="./images/markus.png"/>
    </td></tr>
<tr>
    <td>
        Ryan is a student at Durham College in his 4th semester
        <br>  of Computer Programming. He enjoys coding and does
        <br> some simple modding for the game Terraria in his free
        <br> time. Ryan is planning on taking an Artificial Intelligence
        <br> program after he graduates from his current program.
    </td>
    <td>
        Markus is a student at Durham College is his 4th semester
        <br> of Computer Programming. In his free time Markus practices
        <br>his banjo/guitar skills, or plays Splatoon 3 on his Nintendo
        <br>switch. After graduation, Markus plans to travel to London,
        <br>England, and from there through all of Europe!
    </td>
</tr></tbody></table>