<h1>Our Projects</h1>

<p>Ryan and Markus worked on any group assignments together so we have many projects created by the both of us.
    All three of the projects listed here we  completed together.</p>
<h3>Project 1</h3>
<p>This project was created using Java, it creates 2 classes, Products and Perishable Products. It then uses
    constructors for each class to create objects of both types and display them in the console.</p>
<img src="./images/project1.png">
<h3>Project 2</h3>
<p>This project was created using Java, it creates a console application that allows a user to input details for a
    car into a list of other cars. The user can then remove the car, list the cars add another car, search for a car,
    or close the program. </p>
<img src="./images/project2.png">
<h3>Project 3</h3>
<p>In this project, you may input a type of vaccine and it will save it to a database and display the information of
    the vaccine in the console.</p>
<img src="./images/project3.png">